.userInfoContainer {
	display: flex;
	padding: 15px;
	border-radius: 15px;
	background-color: #3b3c41f1;
	margin-right: 24px;
	align-items: center;
	justify-content: space-around;
	max-width: 350px;
	min-width: 350px;
	color: white;
}

.userInfoContainer:hover {
	cursor: pointer;
	filter: brightness(95%);
}

.brandArea {
	line-height: 15px;
	color: white;
	font-size: 1rem;
	display: flex;
	align-items: center;
	flex-direction: row;
	gap: 5px;
}

